bin/
obj/

AppPackages/
BundleArtifacts/

.idea/

*.csproj.user
*.DotSettings.user

.vs

.claude/*.local.json

# Build Artifacts
bin/
obj/
*.assets.cache

# MSIX Build Artifacts
AppPackages/
*.appinstaller
*.msix
*.msixbundle