syntax: glob

Source/*/bin
Source/*/Bin
Source/*/obj

*.suo
Source/*.ReSharper.user

*.csproj.user
*.ncrunchproject
*.ncrunchsolution
*.ncrunchsolution.user

Publish
Artifacts
Build
test-reports

_ReSharper*/

App_Data/

Source/**/*.crunchproject.local.xml
Source/*.crunchsolution.*
Source/packages/**
Source/*.DotSettings.user
Source/_NCrunch*
