<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="Serilog" version="2.8.0" targetFramework="net472" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
</packages>